@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --tipografia_1: 'Montserrat', sans-serif;
  --tipografia_2: 'Pacifico', cursive;
  --color1: #f8f8f8;
  --color2: #7e7b7b;
  --color3: #FFC0CB;
  --color4: #D3D3D3;
  --color5: #fff;
  --color6: #f890a2;
  --color7: #333;
}

body{
  font-family: var(--fuente_1);
  background-color: var(--color1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.navbar{
  
}

.navbar ul{
  display: flex;
}

.navbar li{
  list-style: none;
  margin: 10px;
  font-weight: 600;
}
.navbar a{
  text-decoration: none;
  color: var(--color2);
  position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    bottom: -5px;
    left: 0;
    background-color: var(--color3);
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}
.logo{
  width: 200px;
}
.logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.chic {
    font-family: var(--tipografia_2); 
    font-size: 30px;
    color: var(--color3);
    margin-right: 5px;
}

.boutique {
    font-family: var(--tipografia_1);
    font-size: 30px;
    color: var(--color4); 
}

.carrito{
  display: flex;
  gap: 15px;
}

.carrito .buscar{
  display: flex;
}
.carrito input{
  margin-right: 8px;
}

.carrito img{
  width: 25px;
}

main {
  flex: 1;
}

.hero{
  margin: 0 50px;
}

.carousel{
  
}


.carousel-caption{
  background-color: rgba(255, 192, 203, 0.4);
  border-radius: 20px;
  padding: 5px;
}

.text-slice{
  font-size: 80px;
}
.sub-text-slide{
  font-size: 30px;
}

.loNuevo{
  padding: 50px;
  background-color: var(--color4);
  margin-top: 100px;
 
}
.loNuevo h1{
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--tipografia_2);
  color: var(--color7);
  
}

.gallery {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
}

.card {
  width: 250px;
  background-color: var(--color5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 20px; 
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 10px;
}

.card-content h3 {
  font-size: 1.1rem;
  color: var(--color7);
  
}

.card-content p {
  font-size: 1rem;
  color: var(--color2);
  line-height: 1.6;
}

.card-content .btn {
  display: inline-block;
  background-color: var(--color3);
  color: var(--color5);
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
}

.card-content .btn:hover {
  background-color: var(--color6);
}

.footer {
  background-color: var(--color7);
  color: var(--color5);
  text-align: center;
  padding: 20px 0;
}

.footer .social-media {
  margin-bottom: 10px;
}

.footer .social-media p{
  margin: 10px 0;
}

.footer .social-icons a {
  margin: 0 10px;
}

.footer .social-icons img {
  width: 40px;
  height: 40px;
}

.footer .copyright {
  font-size: 0.9rem;
}

.section_ropa{
  padding: 50px 0;
}

.section_ropa .card{
  height: 550px;
}

.section_ropa img{
  height: 70%;
}


.form_buscador_ropa {
  width: 300px;
  text-align: center;
  margin-left: 80px;
}


.form_buscador_ropa select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--color4);
  font-size: 1em;
  background-color: var(--color5);
  color: #333333;

}

.form_buscador_ropa select:hover {
  border-color: #b3b3b3;
}

.form_buscador_ropa select:focus {
  outline: none;
  border-color: #7cb5ec;
}

.consulta {
  margin: 0 0 50px 0;
}

.consulta form{
  width: 50%;
  margin: auto;
}
.consulta h1 {
  font-family: var(--tipografia_2);
  color: var(--color3);
  text-align: center;
  margin-bottom: 20px;
}
.consulta label {
  font-size: 1em;
  color: var(--color7);
  /* margin-bottom: 5px; */
  display: block;
}
.consulta input[type="text"],
.consulta input[type="email"],
.consulta textarea,
.consulta select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid var(--color4);
  font-size: 1em;
  font-family: var(--tipografia_1);
  background-color: var(--color5);
  color: var(--color7);
}
.consulta textarea {
  resize: none;
  height: 100px;
}
.consulta input[type="submit"] {
  background-color: var(--color3);
  color: var(--color7);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  font-family: var(--tipografia_1);
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}
.consulta input[type="submit"]:hover {
  background-color: var(--color6);
}
.consulta select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%237e7b7b" height="24" viewBox="0 0 24 24" width="24"xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: center;
}